<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <meta charset="utf-8"/>
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <title th:text='${title}'></title>
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <link th:each="assert: ${assertsHead}" th:if="${assert.head}" rel='stylesheet' th:href='${assert.path}'>
    <!-- ----------------------------------------------------------------------------------------------------------- -->
</head>