<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <head th:include="fragments/head :: head"></head>
<body>
<div class="container">
    <h1>Market</h1>
    <div class="row">
        <div class="col-sm">
            <span th:text="${data.change}"></span>
            <select id="locales">
                <option value=""></option>
                <option value="en" th:text="${data.en}"></option>
                <option value="ru" th:text="${data.ru}"></option>
            </select>
        </div>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>

<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('/market/language/' + selectedOption);
            }
        });
    });
    </script>
</body>
</html>
